<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bianqui's entregable</title>
</head>
<body>
    <h1>Ingrese Producto</h1>
    <form method="POST" action="/productos">
        <input type="text" name="name" placeholder="Manzana">
        <input type="text" name="price" placeholder="1500">
        <input type="text" name="photo" placeholder="URL">
        <button type="submit">Send</button>
    </form>

    <button onclick="location.href = '/productos';" id="myButton" class="float-left submit-button" >Products</button>
</body>
</html>