<h1>Cargar productos</h1>
    <form method="POST" action="/productos">
        <input type="text" name="name" placeholder="Nombre del producto">
        <input type="text" name="price" placeholder="Precio del producto">
        <input type="text" name="photo" placeholder="URL del producto">
        <button type="submit">Enviar</button>
    </form>
<a href="http://localhost:8080/productos">Ver productos</a>