<h1>Productos agregados</h1>

{{#if productos}}
<table>
    <thead>
        <th>Title</th>
        <th>Price</th>
        <th>Thumbnail</th>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td>{{this.title}}</td>
            <td>$ {{this.price}}</td>
            <td><img style="width: 50px; height:50px" src={{this.photo}} alt=""></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h2>No hay productos</h2>
{{/if}}
<a href="http://localhost:8080/form">Cargar productos</a>